<div class="Chatbody">
    <div *ngIf="textArray" class="chatbox">
      <ul class="text-list">
        <li *ngFor="let entry of textArray">
          <div class="bubble" *ngIf="entry.id != userId">
            <div>
              <strong>[ {{entry.user}} ]:</strong> {{entry.text}}
            </div> {{entry.timestamp}}
          </div>
          <div class="bubble2" *ngIf="entry.id == userId">
            <div>
              <strong>[ {{entry.user}} ]:</strong> {{entry.text}}
            </div> {{entry.time}}
          </div>
        </li>
      </ul>

    </div>

    <div class="inputbody">
      <input class="input" type="text" [(ngModel)]="newText" (keyup.enter)="addText()">
      <!-- <button (click)="addText()" class="add-button">Senden</button> -->
    </div>
    <div *ngIf="newText"> {{newText.length}}:500</div>
  </div>
